body{
    font-family: 'Poppins', sans-serif;
    background-image: url(Photos/kk.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    text-align: center;
}

.card{
    overflow: hidden;
    border-radius: 15px;
    border: none;
    margin-bottom: 2rem;
}

.img1 img{
    border-radius: 15px;
    width: 100%;
}

.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 5.75rem;
    height: 5.75rem;
    border-radius: 50%;
    margin-top: -3rem;
}

.main-text{
    padding: 30px 0;
    text-align: center;
}

.main-text h3{
    font-weight: 900;
    margin: 0 0 20px;
}

.main-text p{
    padding: 0 35px;
}

